@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.noto-sans-kr * {
  font-family: "Noto Sans KR", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

/* header */
header {
  /* layout */
  display: block;
  position: fixed;
  padding: 10px;
  width: 40%;
  height: 50px;
  color: #ffffff;
  border-radius: 50px;
  margin: 10px 30%;

  /* style */
  background: #0000cd8c;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
}

header .content {
  display: flex;
  box-sizing: border-box;
  width: 550px;
  margin: 0 auto;
  text-align: center;
  justify-content: space-between;
}

header a {
  font-size: 17px;
  color: white;
  text-decoration: none;
}

.fa-soild {
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
}

header a:hover {
  color: rgb(164, 164, 164);
}

header a::before {
  align-items: center;
  justify-content: center;
}

header .logo {
  font-weight: bold;
}

/* main */
main {
  background: #f6f6f6;
  height: 87vh;
}

/* footer */
footer {
  background: #3c3c3c;
  height: 13vh;
  margin: 0 auto;
  align-items: center;
}

footer .top {
  margin: 0 45%;
  display: flex;
  box-sizing: border-box;
  width: 200px;
  justify-content: space-between;
  align-items: center;
}

footer .top a {
  margin: 20px 0;
  color: #8e8e8e;
  text-decoration: none;
}

footer .top a:hover {
  color: #f6f6f6;
}

footer .bottom {
  margin: 0 41%;
  display: flex;
  box-sizing: border-box;
  width: 350px;
  justify-content: space-between;
  align-items: center;
}

footer .bottom a {
  color: #8e8e8e;
  text-decoration: none;
}

footer .bottom a:hover {
  color: #f6f6f6;
}