@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.noto-sans-kr * {
  font-family: "Noto Sans KR", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

/* header */
header {
  /* layout */
  display: block;
  position: fixed;
  padding: 10px;
  width: 100%;
  height: 50px;
  color: #ffffff;

  /* style */
  background: #000000af;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  z-index: 2;
}

header .content {
  display: flex;
  box-sizing: border-box;
  width: 550px;
  margin: 0 auto;
  text-align: center;
  justify-content: space-between;
}

header a {
  font-size: 17px;
  color: white;
  text-decoration: none;
}

.fa-soild {
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
}

header a:hover {
  color: rgb(164, 164, 164);
}

header a::before {
  align-items: center;
  justify-content: center;
}

header .logo {
  font-weight: bold;
}

/* main */
main {
  background: #f6f6f6;
  height: 87vh;
}

/* main > sec01 */
main .sec01 {
  display: flex;
  box-sizing: border-box;
  background-image: linear-gradient(45deg, rgb(57, 46, 83), rgb(72, 102, 119));
  height: 40vh;
  position: relative;
  top: 60px;
  border-radius: 10px;
}

main .sec01 div {
  display: block;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 10px;
  color: #f6f6f6;
}

main .sec01 div .lottie {
  display: flex;
  justify-content: center;
}

main .sec01 div h2 {
  font-size: 40px;
  font-weight: bold;
}

main .sec01 div .btGroup {
  margin: 0 auto;
  align-items: center;
  display: inline-flex;
  width: 250px;
  justify-content: space-between;
}

.btGroup a {
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 7px;
  text-decoration: none;
  background-color: transparent;
  padding: 10px 20px 10px 20px;
  border-radius: 40px;
  border: 1px solid #f6f6f6;
  color: #f6f6f6;
}

.btGroup a.more:hover {
  background-color: #f6f6f6;
  color: #3a3a3a;
}

.btGroup a.goThere {
  border: 1px solid #0000ff;
  background-color: #0000ff;
  color: #f6f6f6;
}

.btGroup a.goThere:hover {
  background-color: #1b1bc4;
  color: #ffffff;
  border: 1px solid #1b1bc4;
}

/* main to wrap secotion 02, 03 */
main div {
  display: flex;
  align-items: flex-start;
}

/* main > sec02 */
main .sec02 {
  display: flex;
  box-sizing: border-box;
  background-color: #3a3a3a;
  width: 50%;
  height: 40vh;
  position: relative;
  top: 75px;
  border-radius: 10px;
}

main .sec02 div {
  display: block;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 60px;
  color: #f6f6f6;
}

main .sec02 div h2 {
  font-size: 40px;
  font-weight: bold;
}

main .sec02 div a {
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 30px;
  text-decoration: none;
  background-color: transparent;
  padding: 10px 20px 10px 20px;
  border-radius: 40px;
  border: 1px solid #f6f6f6;
  color: #f6f6f6;
}

main .sec02 div a:hover {
  background-color: #f6f6f6;
  color: #3a3a3a;
}

main .sec03 {
  display: flex;
  box-sizing: border-box;
  background-color: #e8e8e8;
  width: 49%;
  height: 40vh;
  position: relative;
  top: 75px;
  left: 1%;
  border-radius: 10px;
}

main .sec03 div {
  display: block;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 5px;
  color: #3a3a3a;
}

main .sec03 div h2 {
  font-size: 40px;
  font-weight: bold;
}

main .sec03 div a {
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 30px;
  text-decoration: none;
  background-color: transparent;
  padding: 10px 20px 10px 20px;
  border-radius: 40px;
  border: 1px solid #3a3a3a;
  color: #3a3a3a;
}

main .sec03 div a:hover {
  background-color: #3a3a3a;
  color: #f6f6f6;
}

main .sec03 div .lottie {
  display: flex;
  justify-content: center;
}

/* footer */
footer {
  background: #3c3c3c;
  height: 13vh;
  margin: 0 auto;
  align-items: center;
}

footer .top {
  margin: 0 45%;
  display: flex;
  box-sizing: border-box;
  width: 200px;
  justify-content: space-between;
  align-items: center;
}

footer .top a {
  margin: 20px 0;
  color: #8e8e8e;
  text-decoration: none;
}

footer .top a:hover {
  color: #f6f6f6;
}

footer .bottom {
  margin: 0 41%;
  display: flex;
  box-sizing: border-box;
  width: 350px;
  justify-content: space-between;
  align-items: center;
}

footer .bottom a {
  color: #8e8e8e;
  text-decoration: none;
}

footer .bottom a:hover {
  color: #f6f6f6;
}