@charset "utf-8";

* {
  margin: 0;
}

@font-face {
  font-family: 'Ownglyph_meetme-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  box-sizing: border-box;
  font-family: 'Ownglyph_meetme-Rg';
}

body {
  display: block;
  height: 100vh;
  align-items: center;
  background-image: linear-gradient(105deg, #F7B8B8 15.35%, #9AABE4 80.71%);
}

.left {
  padding: 6px 0px 6px 6px;
  display: flex;
  position: fixed;
  width: 345px;
  height: 100vh;
  display: flex;
}

.left .lLeft {
  display: flex;
  width: 78px;
  height: 99vh;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 0.30);
  border-radius: 20px 0px 0px 20px;
}

.left .lRight {
  width: 271px;
  height: 99vh;
  flex-shrink: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.15);
  border-radius: 0px 20px 20px 0px;
}

.left .lRight .block {
  display: flex;
  width: 267px;
  height: 990px;
  padding: 40px 10px 10px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
}

.left .lRight .block .fa-chevron-left {
  flex-shrink: 0;
  color: #727272;
}

/* hover action */
.left .lRight .block .fa-chevron-left:hover {
  flex-shrink: 0;
  color: #000000;
}